USE [SistemaGestion]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 23/02/2022 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripciones] [varchar](max) NOT NULL,
	[Costo] [money] NULL,
	[PrecioVenta] [money] NOT NULL,
	[Stock] [int] NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoVendido]    Script Date: 23/02/2022 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoVendido](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Stock] [int] NOT NULL,
	[IdProducto] [bigint] NOT NULL,
	[IdVenta] [bigint] NOT NULL,
 CONSTRAINT [PK_ProductoVendido] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/02/2022 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Apellido] [varchar](max) NOT NULL,
	[NombreUsuario] [varchar](max) NOT NULL,
	[Contraseña] [varchar](max) NOT NULL,
	[Mail] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 23/02/2022 01:28:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Comentarios] [varchar](max) NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id], [Descripciones], [Costo], [PrecioVenta], [Stock], [IdUsuario]) VALUES (1, N'Remera manga larga', 500.0000, 1400.0000, 23, 1)
INSERT [dbo].[Producto] ([Id], [Descripciones], [Costo], [PrecioVenta], [Stock], [IdUsuario]) VALUES (2, N'Pantalon Jean', 800.0000, 4000.0000, 12, 1)
INSERT [dbo].[Producto] ([Id], [Descripciones], [Costo], [PrecioVenta], [Stock], [IdUsuario]) VALUES (3, N'Bermuda', 600.0000, 3000.0000, 10, 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoVendido] ON 

INSERT [dbo].[ProductoVendido] ([Id], [Stock], [IdProducto], [IdVenta]) VALUES (1, 2, 1, 1)
INSERT [dbo].[ProductoVendido] ([Id], [Stock], [IdProducto], [IdVenta]) VALUES (2, 1, 2, 1)
INSERT [dbo].[ProductoVendido] ([Id], [Stock], [IdProducto], [IdVenta]) VALUES (3, 1, 5, 1)
SET IDENTITY_INSERT [dbo].[ProductoVendido] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [NombreUsuario], [Contraseña], [Mail]) VALUES (1, N'Tobias', N'Casazza', N'tcasazza', N'SoyTobiasCasazza', N'tobiascasazza@gmail.com')
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [NombreUsuario], [Contraseña], [Mail]) VALUES (2, N'Ernesto', N'Perez', N'eperez', N'SoyErnestoPerez', N'ernestoperez@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([Id], [Comentarios]) VALUES (1, N'')
INSERT [dbo].[Venta] ([Id], [Comentarios]) VALUES (2, N'')
INSERT [dbo].[Venta] ([Id], [Comentarios]) VALUES (3, N'')
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Usuario]
GO
ALTER TABLE [dbo].[ProductoVendido]  WITH CHECK ADD  CONSTRAINT [FK_ProductoVendido_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[ProductoVendido] CHECK CONSTRAINT [FK_ProductoVendido_Producto]
GO
ALTER TABLE [dbo].[ProductoVendido]  WITH CHECK ADD  CONSTRAINT [FK_ProductoVendido_Venta] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([Id])
GO
ALTER TABLE [dbo].[ProductoVendido] CHECK CONSTRAINT [FK_ProductoVendido_Venta]
GO
